-i https://pypi.org/simple
annotated-doc==0.0.4; python_version >= '3.8'
asgiref==3.11.1; python_version >= '3.9'
certifi==2026.6.17; python_version >= '3.7'
charset-normalizer==3.4.7; python_version >= '3.7'
click==8.4.1; python_version >= '3.10'
dj-database-url==3.1.2; python_version >= '3.10'
django==6.0.6; python_version >= '3.12'
django-appconf==1.2.0; python_version >= '3.9'
django-compressor==4.6.0; python_version >= '3.10'
django-countries==9.0.0; python_version >= '3.10'
django-crispy-forms==2.6; python_version >= '3.10'
django-tailwind-cli==4.6.2; python_version >= '3.10'
django-typer==3.7.3; python_version >= '3.10' and python_version < '4.0'
gunicorn==26.0.0; python_version >= '3.10'
idna==3.18; python_version >= '3.9'
markdown-it-py==4.2.0; python_version >= '3.10'
mdurl==0.1.2; python_version >= '3.7'
packaging==26.2; python_version >= '3.8'
psycopg2-binary==2.9.12; python_version >= '3.9'
pygments==2.20.0; python_version >= '3.9'
python-dotenv==1.2.2; python_version >= '3.10'
rcssmin==1.2.2
requests==2.34.2; python_version >= '3.10'
rich==15.0.0; python_full_version >= '3.9.0'
rjsmin==1.2.5
semver==3.0.4; python_version >= '3.7'
shellingham==1.5.4; python_version >= '3.7'
sqlparse==0.5.5; python_version >= '3.8'
typer==0.25.1; python_version >= '3.10'
typing-extensions==4.15.0; python_version >= '3.9'
urllib3==2.7.0; python_version >= '3.10'
whitenoise==6.12.0; python_version >= '3.10'
